.arrow-button {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  background-color: inherit;
  border: none;
}

.arrow-button img {
  width: 20px;
  transition:  transform 0.2s ease-in;
}

.arrow-up {
  transform: rotate(-90deg);
}

.arrow-down {
  transform: rotate(90deg);
}